@model LeavePortal.Web.Models.DashboardViewModel

@{
    ViewBag.Title = "Leave Portal Dashboard";
}


@if (Model.BalanceModel != null)
{
    <div class="page-header"><h2>Leave Balance</h2></div>

    <div class="panel panel-success">

        <div class="panel-body">
            <table class="table table-sm ">
                <thead>
                    <tr class="table-active">
                        <th>Employee ID</th>
                        <th>Name </th>
                        <th>Surname</th>
                        <th>Leave Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                            <th scope="row">@Model.BalanceModel.EmployeeId</th>
                            <td>@Model.BalanceModel.Name</td>
                            <td>@Model.BalanceModel.Surname</td>
                            <td>@Model.BalanceModel.Balance</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>

}

@if (Model.PendingModel != null)
{
    <div class="page-header"><h2>Pending Leave Request</h2></div>

    <div class="panel panel-success">

        <div class="panel-body">
            <table class="table table-sm ">
                <thead>
                    <tr class="table-active">
                        <th>Request ID</th>
                        <th>Employee ID</th>
                        <th>From </th>
                        <th>To</th>
                        <th>Requested leave in days</th>
                        <th>Leave Balance</th>
                        <th>Leave Type</th>
                        <th>Comments</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <th scope="row">@Model.PendingModel.RequestId</th>
                            <td>@Model.PendingModel.EmployeeId</td>
                            <td>@Model.PendingModel.FromDate.ToString("yyyy-MM-dd")</td>
                            <td>@Model.PendingModel.ToDate.ToString("yyyy-MM-dd")</td>
                            <td>@Model.PendingModel.RequestedLeaveInDays</td>
                            <td>@Model.PendingModel.LeaveBalanceInDays</td>
                            <td>@Model.PendingModel.LeaveType</td>
                            <td>@Model.PendingModel.Comments</td>
                            <td>
                                <button type="button" class="btn btn-warning" onclick="Edit(@Model.PendingModel.EmployeeId)">Edit</button>
                                <button type="button" class="btn btn-danger" onclick="Cancel(@Model.PendingModel.EmployeeId)">Cancel</button>
                            </td>
                        </tr>
                    

                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.HistoryModel != null)
{
    <div class="page-header"><h2>Leave History</h2></div>

    <div class="panel panel-success">

        <div class="panel-body">
            <table class="table table-sm ">
                <thead>
                    <tr class="table-active">
                        <th>Date Requested</th>
                        <th>Request ID</th>
                        <th>Employee ID</th>
                        <th>From </th>
                        <th>To</th>
                        <th>Requested leave in days</th>
                        <th>Leave Balance</th>
                        <th>Leave Type</th>
                        <th>Leave Cancelled</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.HistoryModel)
                    {
                        <tr>
                            <th scope="row">@item.DateRequested.ToString("yyyy-MM-dd")</th>
                            <td>@item.RequestId</td>
                            <td>@item.EmployeeId</td>
                            <td>@item.FromDate.ToString("yyyy-MM-dd")</td>
                            <td>@item.ToDate.ToString("yyyy-MM-dd")</td>
                            <td>@item.RequestedLeaveInDays</td>
                            <td>@item.LeaveBalanceInDays</td>
                            <td>@item.LeaveType</td>
                            <td>@item.Cancelled</td>
                            <td>@item.Comments</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}



<script>

    function Edit(employeeId) {
        window.location.href = "/Leave/Edit?id=" + employeeId;
    }

    function Cancel(employeeId) {
        window.location.href = "/Leave/CancelLeave?employeeId=" + employeeId;
    }
</script>